<div class="home">
  <div class="title">
    <h1 class="emphasis">HOT DOGS</h1>
    <h5 class="emphasis">...coming soon</h5>
    <!-- <%= image_tag 'hot-dog-icon', size: '30x30' %> -->
  </div>
</div>
